body{
  background-color:#EEEEEE;
}

.header {
  text-align:center;
  background-image: url(../images/bg.jpg);
  background-position: 76% 42%;
  margin: 30px 0;
  padding: 40px;
}

h1, h3 {
  color: #FFF;
  margin-top: 0;
}

.add-todo {
  height: 40px;
}

.todolist{
  background-color:#FFF;
  padding:20px 20px 10px 20px;
}

.todolist h2{
  margin:0;
  padding-bottom:20px;
  text-align:center;
}

.form-control{
  border-radius:0;
}

li.ui-state-default{
  background:#fff;
  border:none;
  border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
  border-bottom:none;
}

.todo-footer{
  background-color:#F4FCE8;
  margin:0 -20px -10px -20px;
  padding: 10px 20px;
}

#done-items li{
  padding:10px 0;
  border-bottom:1px solid #ddd;
  text-decoration:line-through;
}

#done-items li:last-child{
  border-bottom:none;
}

#checkAll{
  margin-top:10px;
}
