<li ng-class="{'ui-state-default': !todo.done}">
  <div ng-if="!todo.done">
    <input type="checkbox" id="cb" value="" ng-model="done" ng-change="complete()"></input>
    <label for="cb">
      <a href="#" editable-text="todo.name" buttons="no" blur="submit">{{ todo.name }}</a>
    </label>
  </div>

  <div ng-if="todo.done">
  {{ todo.name }}
  <button class="remove-item btn btn-default btn-xs pull-right" ng-click="remove()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  </div>
</li>

